<div class="dev-notes">
  <h3>Licznik ASR</h3>
  <h4>Wersja 2.3 <i class="fa-solid fa-eraser"></i></h4>
  <span>28.05.2022 r.</span>
  <p><strong>Odświeżenie wyglądu strony</strong></p>
  <p>W nowej wersji aplikacji usprawniono:</p>
  <ul>
    <li>
      Odświeżono wygląd strony.
    </li>
    <li>
      Zabezpieczono wyświetlanie danych z pamięci lokalnej przeglądarki, które
      nie są punktami.
    </li>
    <li>
      Dodano pełne wsparcie dla urządzeń mobilnych.
    </li>

  </ul>
  <img
    src="src/images/fourthversion.png"
    alt="Screen from fourth version of Licznik ASR app."
    width="319"
  />
  <h5>Autor: Mateusz Owczarek</h5>
  <a href="mailto:mat.owc@o2.pl">mat.owc@o2.pl</a>
  <hr />
  <h4>Wersja 2.2 <i class="fa-solid fa-eraser"></i></h4>
  <span>14.05.2022 r.</span>
  <p><strong>Usuwanie punktów z bazy danych</strong></p>
  <p>W nowej wersji aplikacji usprawniono:</p>
  <ul>
    <li>
      Zmieniono sposób, w jaki wyświetlają się punkty pobierane z bazy danych na
      bardziej czytelny.
    </li>
    <li>
      Dodano możliwość usuwania pojedyńczych wpisów z bazy danych, co z
      pewnością przyda się przy omyłkowym dwuktrotnym zapisie punktów do bazy
      danych tego samego dnia.
    </li>
    Planowane są kolejne aktualizacje usprawniające system logowania,
    odświeżające wygląd, dodające nowe funkcjonalności na stronie (zestaw
    przydatnych linków, możliwość tworzenia notatek na stronie).
  </ul>
  <h5>Autor: Mateusz Owczarek</h5>
  <a href="mailto:mat.owc@o2.pl">mat.owc@o2.pl</a>
  <hr />
  <h4>Wersja 2.1 <i class="fa-solid fa-heart-pulse"></i></h4>
  <p><strong>Nowe funkcjonalności</strong></p>
  <p>Uznajmy, że jest to finalna wersja aplikacji. Najprawdopodobniej nie będzie
    tu już większych zmian.</p>
  <ul>
    <li>
      Dodano możliwość zakładania konta i logowania się.
    </li>
    <li>
      Możliwość zapisu i odczytu punktów z bazy danych
    </li>
    <li>
      Naprawiono błędy związane ze skupieniem w polach wprowadzania.
    </li>
    <li>
      Dopisano backend w Express.js i przeniesiono aplikację na dedykowany
      serwer.
    </li>
    <li>
      Poprawiono inne, mniejsze błędy.
    </li>
  </ul>
  <h5>Autor: Mateusz Owczarek</h5>
  <a href="mailto:mat.owc@o2.pl">mat.owc@o2.pl</a>
  <hr />
  <h3>Licznik ASR</h3>
  <h4>Wersja 1.1 <i class="fa-solid fa-person-digging"></i></h4>
  <p>Refactoring kodu.</p>
  <ul>
    <li>
      Dodano możliwość odejmowania punktów.
    </li>
    <li>
      Zmiany w wyglądzie przycisków, nagłówków, ikon.
    </li>
    <li>
      Naprawiono błędy związane z odtwarzaniem dźwięków.
    </li>
    <li>
      Wprowadzono walidację wprowadzanych danych.
    </li>
    <li>
      Dodano okno zapobiegające przypadkowemu resetowaniu punktów.
    </li>
  </ul>
  <img
    src="src/images/thirdversion.png"
    alt="Screen from third version of Licznik ASR app."
    width="319"
  />
  <h5>Autor: Mateusz Owczarek</h5>
  <a href="mailto:mat.owc@o2.pl">mat.owc@o2.pl</a>
  <hr />
  <h3>Licznik ASR</h3>
  <h4>Wersja 1.0.2 <i class="fa-solid fa-person-digging"></i></h4>
  <p>Drobny refactoring kodu i zmiany w wyglądzie przycisków</p>
  <img
    src="src/images/secondversion.png"
    alt="Screen from second version of Licznik ASR app."
    width="319"
  />
  <h5>Autor: Mateusz Owczarek</h5>
  <a href="mailto:mat.owc@o2.pl">mat.owc@o2.pl</a>
  <hr />
  <h3>Licznik ASR</h3>
  <h4>Wersja 1.0.1 <i class="fa-solid fa-person-digging"></i></h4>
  <p>Uruchomiono wersję przeglądarkową. Od teraz punkty są zapisywane w pamięci
    lokalnej przeglądarki do momentu ich zresetowania (lub wyczyszczenia
    ustawień przeglądarki).</p>
  <h5>Autor: Mateusz Owczarek</h5>
  <a href="mailto:mat.owc@o2.pl">mat.owc@o2.pl</a>
  <hr />
  <h3>Licznik ASR</h3>
  <h4>Wersja 1.0 <i class="fa-solid fa-cake-candles"></i> </h4>
  <p>Wersja Electron.js. Możliwość resetowania i odejmowania punktów zostanie
    dodana wkrótce.</p>
  <img
    src="src/images/firstversion.png"
    alt="Screen from first version of Licznik ASR app."
  />
  <h5>Autor: Mateusz Owczarek</h5>
  <a href="mailto:mat.owc@o2.pl">mat.owc@o2.pl</a>

</div>