<div class="user-form">
    <h3>Zaloguj się</h3>
    <form id="log-form">
        <input type="text" id="log-login" placeholder="Nazwa użytkownika" autocomplete="off" minlength="6" required/>
        <input type="password" id="log-password" placeholder="Hasło" minlength="6" required />
        <div class="log-input-error error-p"></div>
        <button type="submit" class="function-buttons">
            Zaloguj się
        </button>
    </form>
</div>
<div class="user-form">
    <h3>Załóż nowe konto</h3>
    <form id="reg-form">
        <input type="text" id="reg-login" placeholder="Nazwa użytkownika" autocomplete="off" minlength="6" required/>
        <input type="password" id="reg-password" placeholder="Hasło" minlength="6" required/>
        <div class="reg-input-error error-p"></div>
        <button type="submit" class="function-buttons">
            Zarejestruj się
        </button>
    </form>
</div>