<div class="container-points">

  <button id="1" class="adding-buttons" onclick="addPoints(1)">+1pkt</button>
  <button id="2" class="adding-buttons" onclick="addPoints(2)">+2pkt</button>
  <button id="3" class="adding-buttons" onclick="addPoints(3)">+3pkt</button>

  <button id="4" class="adding-buttons" onclick="addPoints(4)">+4pkt</button>
  <button id="5" class="adding-buttons" onclick="addPoints(5)">+5pkt</button>
  <button id="6" class="adding-buttons" onclick="addPoints(6)">+6pkt</button>

  <button id="7" class="adding-buttons" onclick="addPoints(7)">+7pkt</button>
  <button id="8" class="adding-buttons" onclick="addPoints(8)">+8pkt</button>
  <button id="9" class="adding-buttons" onclick="addPoints(9)">+9pkt</button>
</div>