<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="src/images/icons/favicon.ico">
    <title>Licznik ASR 2.1</title>


</head>
<body>
{{{body}}}
</body>

</html>