@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: linear-gradient(rgb(16, 170, 175), rgba(53, 14, 64, 1)) fixed;
  min-height: 100%;
}

input {
  background: rgba(255, 255, 255, 0.144);
  min-height: 2vh;
  justify-content: center;
  align-items: center;
  color: #f9f871;
  border-radius: 8px;
  padding: 10px;
}
input:focus {
  cursor: pointer;
  color: #f9f871;
  background-color: #10aaaf;
  font-weight: bold;
  outline: none;
}
#wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin-top: 20px;
}
#user-points__main {
  background-color: rgba(255, 255, 255, 0.144);
  border-radius: 10px;
  /* padding: 25px; */
  margin-top: 10px 20px;
  font-family: "Nunito", serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#user-points__status {
  padding: 25px;
  margin: 10px 20px;

  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  min-width: 300px;
  max-width: 30vw;
  color: #000000;
}

#user-points__container > h2 {
  padding: 10px;
  margin-top: 20px;
  min-width: 300px;
  max-width: 30vw;
}
.dev-notes {
  padding: 25px;
  margin: 10px 20px;
  background-color: rgba(166, 221, 233, 0.637);
  border-radius: 8px;
  min-width: 300px;
  max-width: 30vw;
  height: fit-content;
}
.dev-notes > hr {
  border: 1px dotted #57d1a0;
  margin: 10px 0;
}
.dev-notes > ul {
  font-size: smaller;
  margin: 10px 20px;
  list-style: none;
  text-align: left;
}

.dev-notes > ul > li {
  margin: 10px 0;
  align-self: center;
}

.dev-notes > img {
  max-width: fit-content;
  margin: 0 auto;
  display: block;
}

.container-points {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  max-width: 30vw;
  justify-content: space-evenly;
}
#user-panel-column {
  font-size: 1.2rem;
  background: #f9f97123;
  padding: 25px;
  margin: 10px 20px;
  border-radius: 8px;
  text-align: center;
  min-width: 300px;
  max-width: 30vw;
  height: fit-content;
}
.adding-buttons {
  background-color: rgba(166, 221, 233, 0.637);
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  max-height: 48px;
  text-align: center;
  line-height: 10px;
  font-size: 1.5rem;
}

.adding-buttons:hover {
  background-color: rgba(120, 204, 223, 0.856);
}

#points-status {
  color: #f9f871;
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
}

#points-multiply {
  color: #bfef7d;
  font-weight: 500;
  text-align: center;
  font-size: 2.5rem;
}

.function-buttons {
  align-items: center;
  background-color: rgba(166, 221, 233, 0.637);
  border: 1px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  line-height: 24px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
}

.function-buttons:hover {
  background-color: rgba(120, 204, 223, 0.856);
}

@media screen and (max-width: 800px) {
  .user-panel-column,
  #user-points__container,
  #user-points__status,
  .dev-notes {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

@media screen and (max-width: 800px) {
  .container-points {
    max-width: 100%;
    justify-content: space-evenly; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
@media screen and (max-width: 800px) {
  .dev-notes img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
}

#reset-button-div {
  margin-top: 10px;
  justify-content: center;
}

#value-input {
  display: flex;
}

#user-form {
  margin-top: 10px;
}

#point-value-input {
  margin-top: 3vh;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
}
.user-form {
  padding: 10px;
  margin-top: 3vh;
  text-transform: uppercase;
}

.error-p {
  text-transform: none;
  font-size: 12px;
  color: #c20028;
  text-align: center;
  margin-top: 5px;
}

#logged-user-input-message {
  text-transform: none;
  font-size: 12px;
  color: #a7cc4d;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
