

<div id="wrapper">
    <div id="user-points__main">
           
            <div id="user-points__container"> <h2>Dodaj punkty:</h2>{{> points-container}}</div>
     
       <div id="user-points__status">
           <h2>liczba punktów asr:</h2>
            <p id="points-status"></p>
            <h3>liczba punktów po przeliczeniu:</h3>
            <p id="points-multiply"></p>
            <div id="value-input">
                <label id="point-value-input" >
                    Odejmij punkty:
                    <input id="subtract-value" type="number" placeholder="0" min="0">
                    <button class="function-buttons" id="subtract-points">Odejmij punkty</button>
                </label>

            </div>
            <div id="reset-button-div">
                <button class="adding-buttons" id="reset-button">Zresetuj punkty</button>
            </div>
 
</div>
<div> {{> forms}}</div>


            
        


           

{{> user-column}}
 {{> dev-notes}}
        </div>


    </div>

{{> footer}}
<script src="src/scripts/main.js"></script>
<script src="src/scripts/form-handler.js"></script>
<link rel="stylesheet" href="main.css">